.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: $tangaroa;
  background-color: $alice-blue;
  padding: 12px 14px 14px 14px;
  border: none;
  outline: none;

  &:hover {
    background-color:  $quartz;
  }

  &:active {
    background-color:  $quartz;
  }
}
