.contacts {
    padding: 120px 0;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 65px 0;
    }
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        display: block;
    }
}

.contacts__content {
    width: 500px;
    order: 2;

    @include tablet {
        width: 324px;
    }

    @include mobile {
        width: auto;
        margin-bottom: 43px;
    }
}

.contacts__text {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 45px;
}

.contacts__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    & p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
    }
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__map {
    order: 1;
}