.header-bottom {
    box-sizing: border-box;
    padding: 192px 0 278px 95px;

    @include tablet {
        padding: 208px 0 274px 0;
    }

    @include mobile {
        padding: 115px 0 180px 0;
    }
}

.header-bottom h1 {
    margin: 0;
    padding: 0;
    font-family: $ff-montserrat;
    font-size: 54px;
    font-weight: 700;
    line-height: 66px;
    color: $alice-blue;
    margin-bottom: 12px;
    letter-spacing: 0.04em;

    @include tablet {
        font-size: 50px;
        line-height: 61px;
        margin-bottom: 12px;
    }

    @include mobile {
        display: block;
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 10px;
    }
}

.header-bottom p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    color: $alice-blue;

    @include tablet {
        font-size: 18px;
        line-height: 22px;
    }

    @include mobile {
        display: block;
        width: 200px;
        font-size: 16px;
        line-height: 22px;
    }
}

.header-bottom__header span {
    @include mobile {
        display: block;
    }
}
