.header-bottom {
    box-sizing: border-box;
    padding: 192px 0 278px 95px;

    @include tablet {
        padding: 235px 0 280px 0;
    }

    @include mobile {
        padding: 143px 0 185px 0;
    }

    & h1 {
        margin: 0;
        padding: 0;
        font-family: $ff-montserrat;
        font-size: 54px;
        font-weight: 700;
        line-height: 66px;
        color: $alice-blue;
        margin-bottom: 12px;
        letter-spacing: 0.04em;

        @include tablet {
            font-size: 50px;
            line-height: 61px;
            margin-bottom: 29px;
        }

        @include mobile {
            font-size: 36px;
            line-height: 45px;
            margin-bottom: 25px;
        }
    }

    & p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
        color: $alice-blue;
    }
}


