.map {
    width: 560px;
    height: 306px;
    background-color: $quartz;

    @include tablet {
        width: 324px;
        height: 335px;
    }

    @include mobile {
        width: 100%;
        height: 316px;
    }
}