.trip__wrapper {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding-top: 120px;
    padding-bottom: 120px;

    @include tablet {
        padding-top: 90px;
        padding-bottom: 94px;
        column-gap: 30px;
    }

    @include mobile {
        display: block;
        padding-top: 55px;
        padding-bottom: 65px;
    }
}

.trip__description {
    padding-top: 55px;

    @include tablet {
        padding: 0;
    }

    @include mobile {
        margin-bottom: 35px;
    }

    & h2 {
        margin: 0;
        padding: 0;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        margin-bottom: 25px;
        letter-spacing: 0.02em;

        @include tablet {
            display: block;
            width: 220px;
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
            margin-bottom: 15px;
        }

        @include mobile {
            width: 200px;
            font-size: 24px;
            font-weight: 600;
            line-height: 33px;
            margin-bottom: 17px;
        }
    }

    & p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
    }
}

.trip__image-wrapper {
    margin-top: 10px;
}

.trip__image {
    object-fit: cover;
}